<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8"> 
	<title>{{ page.title }}</title>
    <meta name="author" content="Riccardo Scalco">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Data Journalism, Italy, Riccardo Scalco, Analytic Journalism, Data Driven Journalism,
    Data Visualization, Data Analysis, Web Spidering, Data scientist, Data
    artist, interactive things, web design, web developer">
    <meta name="p:domain_verify" content="b3d94f28f62c80bf62cae5db9c620773"/>
    <!--<meta name="description" content="">-->
    <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="eidogram">
    <link rel="icon" href="/favicon.ico">
    <link rel="stylesheet" href="normalize.css" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
    <!--<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>-->
    <!--<script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>-->
    <!--<script type="text/javascript" src="js/jquery.min.js"></script>-->

    {% if page.script %}{% for script in page.script %}
    <script type="text/javascript" src="{{ script }}"></script>
    {% endfor %}{% endif %}

    {% if page.style %}{% for style in page.style %}
    <link rel="stylesheet" href="{{ style }}" type="text/css">
    {% endfor %}{% endif %}

    <!--
    {% if page.scripts %}
    <script type="text/javascript">
    {% for scripts in page.scripts %}
    $script(['{{ scripts[1] }}'{% for s in scripts offset:2 %}, '{{ s }}'{% endfor %}], '{{ scripts[0] }}');
    {% endfor %}
    </script>{% endif %}
    -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-28849332-2', 'eidogram.com');
      ga('send', 'pageview');
    </script>
    </head>
    <body id="top">
    <div id="info">
        <a class="logo" href="/">
        <img class="logo" src="/logo.png" alt="eidogram">
        </a>
        <aside>
        <p>
        I am Riccardo Scalco, an italian freelancer in data driven visualizations.<br>
        Eidogram is the place where I collect projects and experiments, please enjoy.<br><br>
        <!--For work enquiries, or simply to say hello, email me at riccardo.scalco[at]gmail.com.-->
        (I’m up for some collabs right now)
        </p>
        <ul>
         <a href="mailto:riccardo.scalco@gmail.com"><li class="icon-envelope"></li></a>
         <a href="https://github.com/riccardoscalco"><i class="icon-github-alt"></i></a>
         <a href="https://twitter.com/eidogram"><li class="icon-twitter"></li></a>
         <a href="http://pinterest.com/riccardoscalco/"><i class="icon-pinterest"></i></a>
         <a href="/atom.xml"><li class="icon-rss"></li></a>
         </ul>

        <a href="articles.html">Grains of mathematics</a></li>
        <!--<li><a href="articles.html">Articles</a></li>
        <<li><a href="portfolio.html">Data Artworks</a></li>-->
         <div id="credits">
         <p>
         Website powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a><br>
         CSS design inspired by <a href="http://jt.ms/">JT</a><br>
         Used typeface <a href="http://www.elenapapassissa.it/index.php?/typefaces/lekton/">Lekton</a><br>
         <!--and <a href="http://nicinabox.github.com/superslides/">Nic Aitch</a>-->
         Hosted on <a href="https://github.com/eidogram/eidogram.github.io">GitHub</a><br>
         &copy Copyright 2013<br>
         <a href="http://riccardoscalco.github.io/">Riccardo Scalco</a>
         <!--<a href="#top">Back to the top</a></p></br>-->
         </div>
      </aside>
      </div>
<div id="container">
    {{ content }}
</div>
<!--
    <script>
    $(document).ready(function(){
      $('a[href=#top]').click(function() {
        $('html, body').animate({scrollTop: 0}, 'slow');
        return false;
      });
      $('a[href=#info]').click(function() {
        $('html, body').animate({scrollTop:$(document).height()}, 'slow');
        $('footer').css({'border-top-color': '#000', 'color': '#000'});
        return false;
      });
    });
    </script>
-->
    </body>
</html>

